

.myinfo_container {
    height: 100vh;
    width: 100%;
    // display: flex;
    // justify-content: flex-start;
}

.myinfo_left_container{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    width:40%;
    background-color:#0d2645;
    float:left;
    background:linear-gradient(
        to bottom,
        rgba(00, 00, 00, 1),
        
        rgba(13, 38, 69, 1) 100%
      );
    
}


.title_name {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color : white;
    margin-left:5%;
    font-size:70px;
    font-family: 'Nanum Myeongjo',serif;
    font-weight: 100;
    
}

.rect_btn_div {
    display:table;
    width:300px;
    height:300px;
    border:5px solid transparent;
    border-color:white;
    opacity: 1;
}

.myinfo_right_container{
    display:flex;
    align-items: center;
    text-align: center;
    width:60%;
    height:100vh;
    background-color:white;
    float:left;
}

.myinfo_article_container {
    margin-left:30%;
  

}

.myinfo_right_title {
    font-family: 'Nanum Myeongjo',serif;
    font-size:50px;
    text-align: left;
    color:#2c2626;
}

.myinfo_article {
    
    font-family: 'Nanum Myeongjo',serif;
    font-size: 20px;
    text-align: justify;
    width:43vw;
    color:#2c2626;

      

}